.layout-container {
  height: 100vh;
}

.layout-header {
  height: calc(100vh - 100px);
  padding: 10px;
  display: flex;
  column-gap: 10px;
}

.layout-main {
  background-color: #222222;
  width: 80%;
  border-radius: 10px;
  padding: 10px;
  padding: 20px;
}

.layout-footer {
  height: 100px;
  width: 100%;
}
